*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen {
    html, body{
        overflow-x: hidden;
    }
}

.navigationbar{
    display: flex;
    width: auto;
    padding: 0 8%;
    height: 84px ;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
}

.Logo{
    height: 24px;
    width: 155px;
}

.navbar-ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-ul a {
    color: black;
    text-decoration: none;
    font-weight:500;
}

.navbar-ul a:focus{
    font-weight: 600;
}

 .navbar-button-1{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: medium;
    color: #4CAF4F;
    border: none;
    background-color: transparent;
 }
 .navbar-button-2{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: medium;
    border: none;
    border-radius: 6px;
    color: white ;
    background-color:#4CAF4F ;
 }

 .hero{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 550px;
    column-gap: 10%;
    background-color: #F5F7FA;
 }

 .hero-leftside{
    width: 50%;
 }

 .hero-heading{
    font-size: 68px;

 }
 .hero-heading span{
    font-size: 68px;
    color: #4CAF4F;
 }
 
 .hero-paragraph{
    margin-top: 20px;
    font-size: 16px;
    color: #717171;
 }
 .hero-button{
    padding: 10px 20px;
    border: none;
    background-color: #4CAF4F;
    color: white;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 16px;
 }


 .right-leftside{
    width: 50%;
 }

 .navigation-icon{
   display: none;
 }

 .dots{
   display: flex;
   justify-content: center;
   gap: 10px;
   grid-column: 1/ span 2;
 }

 .dot-1{
   height: 10px;
   width: 10px;
   background-color: #4CAF4F;
   border-radius: 50%;
 }
 .dot-2{
   height: 10px;
   width: 10px;
   background-color: #4CAF4F85;
   border-radius: 50%;
 }
 .dot-3{
   height: 10px;
   width: 10px;
   background-color: #4CAF4F85;
   border-radius: 50%;
 }

 .our-clients{
   text-align: center;
   row-gap: 20px;
   padding: 0 10%;
 }

 .our-clients-heading-paragraph h1 {
   margin-top: 60px;
   font-size: 36px;
   color: #4D4D4D;
 }
 .our-clients-heading-paragraph p {
   margin-top: 20px;
   font-size: 16px;
   color: #4D4D4D;
 }

 .our-clients-logo{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
 }

 .community{
   padding: 40px 0 ;
   height: fit-content;
 }
 .community-h1-p{
   margin-top: 60px;
   text-align: center;
 }

 .community-h1-p h1{
   margin-top: 60px;
   font-size: 36px;
   color: #4D4D4D;
 }
 .community-h1-p p{
   margin-top: 20px;
   font-size: 16px;
   color: #4D4D4D;
 }

.community-list{
   padding:0 10%;
   display: flex;
   column-gap: 10%;
   justify-content: center;
}

 .community-list-1{
   margin-top: 40px;
   width: 300px;
   height: 260px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   row-gap: 20px;
   border-radius: 12px;
   box-shadow: 0 0 5px #00000025;
 }

 .community-list-img{
   width:65px;
   height: 56px;
 }

 .community-list-1 h1{
   font-size: 28px;
   font-weight: bold;
}

.community-list-1 p{
   font-size: 14px;
   /* margin-top: 10px; */
   line-height: 20px;

 }

 .unseen{
   display: flex;
   justify-content: center;
   align-items: center;
   width: auto;
   padding:3% 10% ;
 }

 .unseen-left{
   width: 50%;
   display: flex;
   justify-content: end;
 }

 .unseen-right{
   width: 50%;
 }
 .unseen-right h1{
   font-size: 36px;
   color: #4D4D4D;
   font-weight:600;
 }
 
 .unseen-right p{
   margin-bottom: 20px;
   font-size: 14px;
   margin-top: 20px;
   color: #717171;
 }

 .unseen-right button{
   padding: 10px 20px;
   border: none;
   background-color: #4CAF4F;
   color: white;
   border-radius: 4px;
 }

 .helps{
   width: auto;
   display: flex;
   justify-content: center;
   padding: 0 10% ;
   align-items: center;
   height: 290px;
   background-color: #F5F7FA;
 }

 .helps-left{
   width: 50%;
   
}
.helps-left h1{
   font-size: 36px;
}
.helps-left h1 span{
   color: #4CAF4F;
}

.helps-left p{
   margin-top: 15px;
}
 .helps-right{
   width:  50%;
   display: grid;
   grid-template-columns: auto auto;
   row-gap: 30px;
   column-gap: 30px;
 }

 .helps-quantity{
    display: flex;
    width: fit-content;
    column-gap: 20px
 }

 .helps-quantity img{
   width: 48px;
   height: 48px;
 }
 
.tim-smith{
   width: 100%;
   height: fit-content;
   padding: 2% 10% 1%;
   background-color: #F5F7FA;
   display: flex;
}

.tim-smith-right{
   margin-left: 5%;
}

.tim-smith-right-text p{
   color:#717171;
   font-size: 16px;
   line-height: 24px;
   margin-top: 10px;
}
.tim-smith-right-text h4{
   color:#4CAF4F;
   font-size: 20px;
   line-height: 24px;
   margin-top: 10px;
}

.tim-smith-right-logo{
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   /* column-gap: 2%; */
   row-gap: 20px;
   margin-top: 30px;
}
.tim-smith-right-logos{
   display: grid;
   grid-template-columns: auto auto auto auto auto auto ;
   justify-content: space-between;
}

.tim-smith-right-logo h4{
   color: #4CAF4F;
}
.tim-smith-right-logo button{
   background-color:transparent;
   border: none;
   color: #4CAF4F;
   font-size: 20px;
   gap: 10px;
   padding: 0 0 0 0;
   cursor: pointer;
   text-align: left;
   margin: 0 10%;
}

.marketing{
   width: auto;
   height: fit-content;
   padding: 3% 5% 0 5%;
}
.marketing-text{
   text-align: center;
}
.marketing-text h1{
   color: #4D4D4D;
   font-size: 36px;
}
.marketing-text p{
   color: #717171;
   font-size: 16px;
   line-height: 24px;
   margin-top: 20px;
}

.marketing-list{
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   column-gap: 5%;
   margin: 40px 0;
}

.marketing-list-details{
   width: 317px;
   height:176px ;
   background-color: #F5F7FA;
   border-radius: 8px;
   text-align: center;
   display: grid;
   align-items: center;
   transform: translate(25px, -100px);
   box-shadow: 0 0 5px 5px #00000025;

}

.marketing-list-details h4{
   font-size: 20px;
   color: #717171;
}

.marketing-list-details button{
   background-color: transparent;
   border: none;
}
.marketing-list-details button a{
   text-decoration: none;
   color: #4CAF4F;
   font-size: 20px;
}

.Getdemo {
   text-align: center;
   margin-bottom: 40px;
   padding: 0 5%;
}

.Getdemo h1{
   font-size: 64px;
}
.Getdemo button{
   font-size: 16px;
   color: white;
   padding: 14px 32px;
   border: none;
   outline: none;
   background-color: #4CAF4F;
   border-radius: 4px;
   margin-top: 20px;
}

.Getdemo a {
   text-decoration: none;
   color: white;
}

.footer{
   background-color:#263238;
   display: grid;
   grid-template-columns: auto auto auto auto;
   padding: 5% 10%;
   height: 328px;
   justify-content: space-around;
}

.footer-col1{
   display: grid;
   row-gap: 30px;
   color: white;
   
}

.lists{
   color: white;
   list-style: none;
   display: grid;
   font-size: 14px;
   
}

.lists h3{
   font-size: 26px;
}
.lists a{
   color: white;
   text-decoration: none;
}

.mail h3{
   font-size: 26px;
   color: white;
   margin-bottom: 20px;
}

.mail input{
   padding: 14px 14px;
   background-color: #FFFFFF25 ;
   border: none;
   outline: none;
   border-radius: 6px;   
   width: 100%;
   color: white;
   font-size: 20px;
}

 @media screen and (max-width:1350px) {

    .hero{
        padding: 0 10%;
    }
    .hero-heading{
        font-size: 48px;
     }
     .hero-heading span{
        font-size: 48px;
        color: #4CAF4F;
     }

     .community-list{
      column-gap: 5%;
     }

     .tim-smith-right-logo{
      display: block;
     }
     .tim-smith-right-logo button{
      margin:20px 0px;
     }

     .marketing-list{
      display: grid;
      grid-template-columns: auto auto;
     }
     .marketing-list :nth-child(5){
      grid-column: 1 / span 2;
     }


 }

 @media screen and (max-width: 1024px) {
   .helps{
      display: block;
      justify-content: center;
      width: 100%;
      height: fit-content;
      padding: 5%;
   }
   .helps-left{
    text-align: center;
    justify-content: center;
    width: 100%;
   }
   .helps-right{
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
   }

   .footer{
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 50px;
      height: fit-content;
      justify-content: center;
      column-gap: 20%;
   }
   .lists{
      display: grid;
      row-gap: 20px;
   }
 }

 @media screen and (max-width:940px) {
    .hero{
        padding: 5% 10%;
        display: block;
        height: fit-content;
    }
    .hero-heading{
        font-size: 48px;
        text-align: center;
     }
     .hero-heading span{
        font-size: 48px;
        color: #4CAF4F;
     }

     .hero-paragraph{
        margin-top: 20px;
        font-size: 16px;
        color: #717171;
        text-align: center;
     }

     .button-div{
        display:flex;
        justify-content: center; 
        margin-bottom: 60px;    
     }

     .hero-rightSide{
        display: flex;
        /* align-items: center; */
        justify-content: center;
     }

     .dots{
      margin-top: 40px;
     }

     .tim-smith-right-logos{
      display: grid;
      grid-template-columns: auto auto auto ;}

      .tim-smith{
         display: block;
         text-align: center;
      }
 }

 @media screen and (max-width:900px) {
   
   .navbar-ul{
      display: none;
   }

   .navigation-icon{
      display: block;
   }
   
   .our-clients-logo{
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto auto auto;
      row-gap: 20px;
      justify-content: space-around;
   }
   
   .community-list{
      display: grid;
      grid-template-columns: auto auto;

   }

   .unseen{
      display: block;
      justify-content: center;
      text-align: center;
      width: 100%;
   }

   .unseen-left{
      display: flex;
      width: 100%;
      justify-content: center;
   }
   .unseen-right{
      margin-top: 20px;
      width: 100%;
      justify-content: center;
   }
 }

 @media screen and (max-width:768px) {
   .marketing-list{
      display: block;
   }
   .Getdemo h1{
      font-size: 48px;
   }
 }

 @media screen and (max-width:425px) {
   .hero-heading{
      font-size: 38px;
   }
   .hero-heading span{
      font-size: 38px;
   }

   .hero-rightSide img {
      height: auto;
      width: 100%;
   }

   .navbar-buttons{
      display: none;
   }
   
   .our-clients{
      padding: 0 0 ;
   }

   .community-list{
      display: grid;
      grid-template-columns: auto ;

   }

   .helps-right{
      display: grid;
      grid-template-columns: auto;
   }

   .footer{
      padding-top: 50px;
      display: grid;
      grid-template-columns: auto;
      text-align: center;
   }

   .footer-col1{
      display: grid;
      justify-content: center;
   }
 }

