*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen {
    html, body{
        overflow-x: hidden;
    }
}

.navigationbar{
    display: flex;
    width: auto;
    padding: 0 8%;
    height: 84px ;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
}

.Logo{
    height: 24px;
    width: 155px;
}

.navbar-ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-ul a {
    color: black;
    text-decoration: none;
    font-weight:500;
}

.navbar-ul a:focus{
    font-weight: 600;
}

 .navbar-button-1{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: medium;
    color: #4CAF4F;
    border: none;
    background-color: transparent;
 }
 .navbar-button-2{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: medium;
    border: none;
    border-radius: 6px;
    color: white ;
    background-color:#4CAF4F ;
 }

 .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 550px;
    column-gap: 10%;
    background-color: #F5F7FA;
 }

 .hero-leftside{
    width: 50%;
 }

 .hero-heading{
    font-size: 68px;

 }
 .hero-heading span{
    font-size: 68px;
    color: #4CAF4F;
 }
 
 .hero-paragraph{
    margin-top: 20px;
    font-size: 16px;
    color: #717171;
 }
 .hero-button{
    padding: 10px 20px;
    border: none;
    background-color: #4CAF4F;
    color: white;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 16px;
 }


 .right-leftside{
    width: 50%;
 }

 .navigation-icon{
   display: none;
 }

 @media screen and (max-width:1350px) {
    .hero{
        padding: 0 10%;
    }
    .hero-heading{
        font-size: 48px;
     }
     .hero-heading span{
        font-size: 48px;
        color: #4CAF4F;
     }

 }

 @media screen and (max-width:940px) {
    .hero{
        padding: 5% 10%;
        display: block;
        height: fit-content;
    }
    .hero-heading{
        font-size: 48px;
        text-align: center;
     }
     .hero-heading span{
        font-size: 48px;
        color: #4CAF4F;
     }

     .hero-paragraph{
        margin-top: 20px;
        font-size: 16px;
        color: #717171;
        text-align: center;
     }

     .button-div{
        display:flex;
        justify-content: center; 
        margin-bottom: 40px;    
     }

     .hero-rightSide{
        display: flex;
        /* align-items: center; */
        justify-content: center;
     }

 }

 @media screen and (max-width:900px) {
   
   .navbar-ul{
      display: none;
   }

   .navigation-icon{
      display: block;
   }
   
 }

 @media screen and (max-width:425px) {
   .hero-heading{
      font-size: 38px;
   }
   .hero-heading span{
      font-size: 38px;
   }

   .hero-rightSide img {
      height: auto;
      width: 100%;
   }

   .navbar-buttons{
      display: none;

   }
   
 }

